gurobi_sphinxtheme @ git+https://github.com/Gurobi/gurobi-sphinxtheme.git@d02fc8bc6bf22a7b9dc3696eaed5632c62fe69b0

alabaster==0.7.13
apeye==1.4.1
apeye-core==1.1.5
autodocsumm==0.2.12
Babel==2.15.0
beautifulsoup4==4.12.3
CacheControl==0.14.0
certifi==2024.6.2
charset-normalizer==3.3.2
cssutils==2.11.1
dict2css==0.3.0.post1
docutils==0.20.1
domdf-python-tools==3.8.1
filelock==3.15.1
furo==2024.1.29
html5lib==1.1
idna==3.7
imagesize==1.4.1
importlib_metadata==7.1.0
Jinja2==3.1.4
latexcodec==3.0.0
MarkupSafe==2.1.5
more-itertools==10.3.0
msgpack==1.0.8
natsort==8.4.0
numpydoc==1.7.0
packaging==24.1
platformdirs==4.2.2
pybtex==0.24.0
pybtex-docutils==1.0.3
Pygments==2.18.0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.1.2
sphinx-autodoc-typehints==2.0.1
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinx-jinja2-compat==0.2.0.post1
sphinx-prompt==1.7.0
sphinx-tabs==3.4.5
sphinx-toolbox==3.5.0
sphinx_design==0.5.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.9.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.1
webencodings==0.5.1
zipp==3.19.2
