# Build the docs and run tests against python 3.8 + gurobipy 9.5/10.0,
# from a direct installation.

name: Unit tests and examples

on:
  workflow_call:

permissions:
  contents: read

jobs:
  python-tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8"]
        gurobipy: ["9.5.2", "10.0.0"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tooling
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          python -m pip install gurobipy==${{ matrix.gurobipy }}
          python -m pip install .
          python -m pip install -rdocs/requirements.txt
      - name: Run example tests
        run: |
          cd docs
          python -m unittest discover -b
      - name: Run doctests
        run: |
          cd docs
          sphinx-build -M doctest source build
      - name: Build docs
        run: |
          cd docs
          sphinx-build -M html "source" "build"
