# Run the doctests against multiple gurobipy versions.
# Doctests should pass with the 'examples' extra deps installed.

name: Doc tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  doc-tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.11"]
        gurobipy: ["~=12.0"]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install tooling
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          python -m pip install \
            gurobipy${{ matrix.gurobipy }} \
            .[examples]
          python -m pip install -rdocs/requirements.txt
      - name: Run doctests
        run: |
          cd docs
          make doctest
