# Run the unit tests against python 3.8 + gurobipy 10.

name: Unit tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  python-tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tooling
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          python -m pip install .
      - name: Run unittest
        run: python -m unittest discover -b
      - name: Install networkx (optional dependency)
        run: python -m pip install networkx
      - name: Run additional tests
        run: python -m unittest discover -b
