# Run the unit tests against several pythons and platforms
# using a built wheel to install the package.

name: Test wheels

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  wheel-tests:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install build tools
        run: |
          python -m pip install --upgrade pip build
      - name: Build wheel
        run: |
          python -m build
      - name: Fetch dependencies for offline install
        run: |
          pip wheel --wheel-dir=dist gurobipy pandas numpy scipy gurobipy-pandas
      - name: Install from built wheel
        run: |
          python -m pip install --find-links dist --no-index --only-binary=:all: gurobi-optimods
      - name: Test import
        run: |
          python -c "import gurobi_optimods"
      - name: Run unit tests
        run: |
          python -m unittest discover -b
      - name: Install networkx (optional dependency)
        run: |
          python -m pip install networkx
      - name: Run additional tests
        run: |
          python -m unittest discover -b
